<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stochastic Resonator</title>
    <link rel="stylesheet" href="./../static/css/style.css">
    <script src="./../static/js/controls.js"></script>
</head>
<body>
    <div class="container">
        <div class="title">
            Stochastic Resonator
        </div>

        <h3>Type d'entrée</h3>
        <div class="input-section">
            
            <div class="input-option">
                <input type="radio" id="microphone" name="input-type" value="microphone" checked>
                <label for="microphone">Microphone</label>
            </div>
            <div class="input-option">
                <input type="radio" id="file" name="input-type" value="file">
                <label for="file">Fichier Audio</label>
            </div>
            <div class="input-option">
                <input type="radio" id="jack" name="input-type" value="jack">
                <label for="jack">Jack</label>
            </div>
        </div>

        <div class="controls">
            <div class="control-group">
                <button id="startBtn" class="btn">Start</button>
                <button id="stopBtn" class="btn stop" style="display: none;">Stop</button>
                
            </div>

            <div class="control-group">
                <input type="file" id="audioFile" class="file-input" accept="audio/*">
                <label for="audioFile" id="fileLabel" class="file-label" style="display: none;">
                    Input File
                </label>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="controls">
            <div class="control-group">
                <div class="select-container">
                    <label class="select-label">Filtre</label>
                    <select id="filterSelect">
                        <option value="none">Aucun</option>
                        <option value="diode">Diode</option>
                        <option value="diode_clipper">Ruber Zener</option>
                        <option value="bistable">Bistable</option>
                        
                    </select>
                </div>
                <div class="slider-group">
                    <div class="vertical-slider-container">
                        <label class="slider-label">Audio</label>
                        <input type="range" id="VolumeSlider" class="vertical-slider" min="0" max="10" value="1" step="0.01" orient="vertical">
                        <span id="VolumeValue" class="slider-value">1</span>
                    </div>
                    <div class="control-group">
                        
                        <div class="vertical-slider-container">
                            <label class="slider-label">Seuil</label>
                            <input type="range" id="thresholdSlider" class="vertical-slider" min="0" max="10" value="1" step="0.1" orient="vertical">
                            <span id="thresholdValue" class="slider-value">1</span>
                        </div>
                    </div>
                    <div class="dynamic-control-group">
                       
                            
                            <div class="vertical-slider-container">
                                <label class="slider-label">Tau</label>
                                <input type="range" id="systemTimeSlider" class="vertical-slider" min="1" max="1000" value="0.5" step="2" orient="vertical">
                                <span id="systemTimeValue" class="slider-value">10 Hz</span>
                            </div>
                       
                            
                            <div class="vertical-slider-container">
                                <label class="slider-label">Xb</label>
                                <input type="range" id="wellPosSlider" class="vertical-slider" min="0" max="10" value="1" step="0.1" orient="vertical">
                                <span id="wellPosValue" class="slider-value">1</span>
                            </div>
                        
                            
                            <div class="vertical-slider-container">
                                <label class="slider-label">N</label>
                                <input type="range" id="weellNumSlider" class="vertical-slider" min="1" max="10" value="1" orient="vertical">
                                <span id="weellNumValue" class="slider-value">1</span>
                            </div>
                       
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="select-container">
                    <label class="select-label">Bruit</label>
                    <select id="noiseSelect">
                        <option value="none">Aucun</option>
                        <option value="white">Bruit blanc</option>
                        <option value="pink">Bruit rose</option>
                        <option value="brown">Bruit rouge/brun</option>
                        <option value="perlin">Perlin</option>
                        <option value="velvet">Velvet</option>
                    </select>
                </div>

                <div class="vertical-slider-container">
                    <label class="slider-label">Amplitude</label>
                    <input type="range" id="noiseSlider" class="vertical-slider" min="0" max="10" value="0" step="0.01" orient="vertical">
                    <span id="noiseAmpl" class="slider-value">0 %</span>
                </div> 
            </div>
        </div>

        
        <div class="horizontal-separator"></div>

        <div class="canvas-container">
            <canvas id="audioCanvas"></canvas>
            <div id="status" class="status">Prêt à démarrer</div>
        </div>

        <audio id="processedAudio" controls style="width:100%;margin-top:1em;display:none"></audio>
        <button id="downloadBtn" style="display:none">Télécharger le signal traité</button>
    </div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="./../static/js/script.js"></script>


</body>
</html>